@model EscolaDeVoce.Services.ViewModel.EspecialistViewModel

@{
    ViewData["Title"] = "Especialist Details";
    Guid Id = Guid.Empty;
    var image = "";
    
    if(Model != null){
      Id = @Model.Id;
      if(!string.IsNullOrEmpty(Model.image)){
          image = Model.image;
      }
    }
}
@section scripts{
    <script>
        $(document).ready(function(){
            
        });
    </script>
}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastro de Categoria</h3>
  </div>
  <div class="panel-body">
    <div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a asp-controller="Especialist" asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Lista</a>
        @if(Model != null){
        <a asp-controller="Especialist" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deletar</a>
        }
      </div>
      <br />
    <form asp-controller="Especialist" asp-action="Detail" asp-route-id="@Id" method="post"  enctype="multipart/form-data">    
        <img src="~/images/specialists/@image" id="" style="height: 100px" />
        <input type="hidden" name="x" id="x" />
        <input type="hidden" name="y" id="y" />
        <input type="hidden" name="w" id="w" />
        <input type="hidden" name="h" id="h" />

        <input type="hidden" name="image" value="@image">

        <div class="form-group">
            @Html.LabelFor(m => m.name)
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.charge)
            @Html.TextBoxFor(m => m.charge, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="schoolId">Escola</label>
            @await Component.InvokeAsync("SchoolCombo")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.image)
            <input type="file" name="files" id="files" onchange="escoladevoce.openimagetocrop(this)" data-imagetochange="#profilePhoto" multiple accept=".jpg,.png,.gif"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <img src="~/images/specialists/20a6ab96-47a7-45c7-a412-abdbfac85cae.jpg"id="target" alt="Flowers" />
            </td>
            <td>
              <div style="width:100px;height:100px;overflow:hidden;">
                <img src="~/images/specialists/20a6ab96-47a7-45c7-a412-abdbfac85cae.jpg" id="preview" alt="Preview" class="jcrop-preview" />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>